<H1> Data Science Tools and Ecosystem </H1>

**Objectives** 
* List popular languages for Data Science
* List commonly used libraries used by Data Scientist
* List of open source tools for Data Science

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Scala
6. MATLAB
7. Java
8. JavaScript
9. C/C++
10. Swift
11. Go
12. SAS

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib
4. Seaborn
5. Plotly
6. Skit-Learn

| -------- | 
| Data Science Tools | 
| -------- | 
| GitHub | 
| Jupyter Notebooks |
| RStudio |
|  Apache Spark| 
|  TensorFlow |
|  Apache Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python.

1. **Addition**: `3 + 5` evaluates to `8`
2. **Subtraction**: `10 - 4` evaluates to `6`
3. **Multiplication**: `7 * 6` evaluates to `42`
4. **Division**: `8 / 2` evaluates to `4.0`
5. **Exponentiation**: `2 ** 3` evaluates to `8`
6. **Modulus**: `10 % 3` evaluates to `1`

In [1]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60.
h = 200 / 60 
print (f"{ round(h,4) } horas")

3.3333 horas

<H2>Author</H2>
F. LEONARDO PRIETO T.